<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
    crossorigin="anonymous"
  />
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    <script>
         var mymodule= angular.module("users",[]);
      
      mymodule.controller("signup",function($scope,$http)
      {

        $scope.jsonArray=[];

       $scope.doFetch=function()
       {
       // alert();
            var url="/do-fetch-all-signup";

            
            $http.get(url).then(allGoodFx,someBadFx);
            function allGoodFx(response)
            {
                //resp in JSON array
               // alert(JSON.stringify(response.data));
                $scope.jsonArray=response.data;
            }

            function someBadFx(response)
            {
                alert("ERROR:"+JSON.stringify(response.data));
            }
       }
       //----------------------
       $scope.doDelete=function(emailid)
       {
            //alert(emailid);
            var url="/delete-one?emailid1="+emailid;
            
            $http.get(url).then(allGoodFx,someBadFx);
            function allGoodFx(response)
            {
               //alert(response.data);//resp in string
                $scope.doFetchAll();
            }

            function someBadFx(response)
            {
                alert(JSON.stringify(response.data));
            }
       }
        $scope.doblock=function(emailid)
       {
            
            var url="/doBlock?emailid1="+emailid;
            
            $http.get(url).then(allGoodFx,someBadFx);
            function allGoodFx(response)
            {
               
                $scope.doFetch();
            }

            function someBadFx(response)
            {
                alert(JSON.stringify(response.data));
            }
       }
 $scope.doresume=function(emailid)
       {
            
            var url="/Resume?emailid1="+emailid;
            
            $http.get(url).then(allGoodFx,someBadFx);
            function allGoodFx(response)
            {
               
                $scope.doFetch();
            }

            function someBadFx(response)
            {
                alert(JSON.stringify(response.data));
            }
       }

       })
      
        
    </script>
</head>
<body ng-app="users" ng-controller="signup" ng-init="doFetch();" >
     <nav class="navbar bg-body-primary bg-primary" >
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">USER ADMIN CONSOLE</span>
  </div>
</nav>

      <table class="table">
  <thead>
    <tr>
      <th scope="col">SR.NO</th>
      <th scope="col">EMAIL ID</th>
      <th scope="col">USERTYPE</th>
     <th scope="col">STATUS</th>
     <th scope="col">DATE OF SIGNUP</th>
      <th scope="col">OPERATIONs</th>
      
      
      
    
 
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="obj in jsonArray">
      
      <td>{{$index+1}}</td>
      <td>{{obj.emailid}}</td>
      <td>{{obj.utype}}</td>
      <td>{{obj.status}}</td>
      <td>{{obj.dos}}</td>
      <td>
        <input type="button" ng-click="doblock(obj.emailid);" value="BLOCK">
        <input type="button" ng-click="doresume(obj.emailid)" value="RESUME">
      </td>
    
       
    
</body>
</html>