<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>

    <title>Document</title>
    <script>

       var mymodule= angular.module("kuchModule",[]);
      
      mymodule.controller("kuchController",function($scope,$http)
      {

        $scope.jsonArray=[];

       $scope.doFetchAll=function()
       {
            var url="/do-fetch-all-users";

            
            $http.get(url).then(allGoodFx,someBadFx);
            function allGoodFx(response)
            {
                //resp in JSON array
                //alert(JSON.stringify(response.data));
                $scope.jsonArray=response.data;
            }

            function someBadFx(response)
            {
                alert(JSON.stringify(response.data));
            }
       }
       //----------------------
       $scope.doDelete=function(emailid,pwd)
       {
        
            var url="/do-Block?emailidKuch="+emailid+"&pwdKuch="+pwd;
            
            $http.get(url).then(allGoodFx,someBadFx);
            function allGoodFx(response)
            {
               alert(response.data);//resp in string
                $scope.doFetchAll();
            }

            function someBadFx(response)
            {
                alert(JSON.stringify(response.data));
            }
       }


       })

    </script>
</head>
<body ng-app="kuchModule" ng-controller="kuchController" ng-init="doFetchAll();">

    <center>
    
    <hr>
    <input type="button" value="Fetch All Records" ng-click="doFetchAll();">
    <h2>All Records</h2>
    <table width="800" border="1" rules="all">
        <tr>
            <th>Sr.No</th>
            <th>Email Id</th>
            <th>Password</th>
            <th>Mobile</th>
            <th>
                pic
            </th>
            <th>
                Operations
            </th>
        </tr>
        <tr ng-repeat="obj in jsonArray">
            <td>{{$index+1}}</td>
            <td>{{obj.emailid}}</td>
            <td>{{obj.pwd}}</td>
            <td>{{obj.mobile}}</td>
            <td>
               <a href={{obj.picurl}}> 
                <img src={{obj.picurl}} width="50" height="50">
                </a>
            </td>
            <th>
                <input type="button" ng-click="doDelete(obj.emailid,obj.pwd);" value="Remove">
            </th>

        </tr>
    </table>

    </table>
    

    </center>
</body>
</html>